.item-selected-true{
    text-decoration: line-through;
}

.item-selected-{
    text-decoration: none;
}

.btn-close{
    display:none;
}

.todoItem{
    margin-bottom: 20px;
}

.card{
    box-shadow: 1px 1px 1px 1px dimgrey;
}

.doneItems{
    background-color: #ffe085;
}

.as-buttons{
    cursor: pointer;
}
.as-buttons:hover{
    cursor: pointer;
}


.as-buttons.item-selected-true{
    display: none;
}

.as-buttons.item-selected{
    display: inline-block;
}

.modal-content {
    background-color: #ffc025 !important;
}
.modal-header {
    background-color: #ffe085;
}